<!DOCTYPE html>
<html>
  <head>
    <title>Janky Facebook | Error</title>
  </head>
  <body>
    <h1>Janky Facebook | Error</h1>
    <p>Sorry, but {{ message }}</p>
    <a href="/">Home</a>
  </body>
</html>