<!DOCTYPE html>
<html>
  <head>
    <title>Janky Facebook</title>
  </head>
  <body>
    <h1>Welcome to Janky Facebook!</h1>
    <p>It's free but may not work</p>
    <div>
      <h2>Log in</h2>
      <form action="/login" method="post">
        <p>
          <label for="email">Email</label>
          <input name="email" type="email"/>
        </p>
        <p>
          <label for="email">Password</label>
          <input name="password" type="password"/>
        </p>
        <input type="submit" value="Log In"/>
      </form>
    </div>
    <div>
      <h2>Sign up</h2>
      <form action="/signup" method="post">
        <p>
          <label for="name">Name</label>
          <input name="name" type="text"/>
        </p>
        <p>
          <label for="email">Email</label>
          <input name="email" type="email"/>
        </p>
        <p>
          <label for="email">Password</label>
          <input name="password" type="password"/>
        </p>
        <input type="submit" value="Sign Up"/>
      </form>
    </div>
  </body>
</html>