<html>
	<head>
		<title>JankyBlog | Write Post</title>
	</head>
	<body>
		<h1>Write a Post</h1>
		<form method="post" action="/save">
			<p>
				<label for="title">Title</label>
				<input type="text" name="title" size="50"/>
			</p>
			<p>
				<label for="body">Body</label><br/>
				<textarea name="body" rows="20" cols="50"></textarea>
			</p>
			<input type="submit" value="Publish"/>
		</form>
	</body>
</html>